h3 {font: size 100px;
    color: rgb(252, 247, 250);
    text-align: center;}
    body {background-image: url("wallpaper.webp");}
    h5 {font: size 100px;
        color: rgb(251, 246, 250);}
        h8 {font: size 100px;
            color: rgb(251, 246, 250);}
            
        
        